In [3]:
#load library
import pandas as pd
import re

In [4]:
df = pd.read_csv("tweets.csv") #baca file
df.head(3)

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1

In [5]:
df.shape #lihat shapenya

(11370, 5)

In [6]:
df.keyword.nunique() #lihat banyaknya keywords

219

In [7]:
df.location.value_counts() #lihat data lokasi seperti apa

United States              96
Australia                  83
London, England            81
UK                         77
India                      74
                           ..
Great State of Texas        1
Karatina, Kenya             1
The internet or the gym     1
Reston, VA                  1
auroraborealis              1
Name: location, Length: 4504, dtype: int64

In [8]:
df_sample = df[['keyword', 'text']] #buat df baru sama kolom yg diperlukan aja
df_sample.head(3)

  keyword                                               text
0  ablaze  Communal violence in Bhainsa, Telangana. "Ston...
1  ablaze  Telangana: Section 144 has been imposed in Bha...
2  ablaze  Arsonist sets cars ablaze at dealership https:...

In [9]:
def clean(text):
    text = text.lower() #ke lower case semua
    text = re.sub('@[^\s]+','',str(text)) #ngilangin @username
    text = re.sub('http[^\s]+','',str(text)) #ngilangin link
    text = re.sub(r'[^a-zA-Z ]', '', str(text)) #ngilangin tanda baca yg gak perlu dan angka
    return text    
df_sample['text'] = df_sample['text'].apply(clean)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [10]:
df_sample.head(10) #lihat data

  keyword                                               text
0  ablaze  communal violence in bhainsa telangana stones ...
1  ablaze  telangana section  has been imposed in bhainsa...
2  ablaze           arsonist sets cars ablaze at dealership
3  ablaze          arsonist sets cars ablaze at dealership
4  ablaze  lord jesus your love brings freedom and pardon...
5  ablaze  if this child was chinese this tweet would hav...
6  ablaze  several houses have been set ablaze in ngemsib...
7  ablaze  asansol a bjp office in salanpur village was s...
8  ablaze  national security minister kan dapaahs side ch...
9  ablaze  this creature whos soul is no longer clarent b...

In [11]:
df_sample.nunique() #lihat unique tweetnya

keyword      219
text       10944
dtype: int64

In [12]:
df_sample.shape #lihat shapenya

(11370, 2)

In [13]:
df_sample.shape[0]-df_sample.text.nunique() #ngitung ada spam gak

426

In [14]:
df_sample.drop_duplicates('text',keep='first', inplace=True) #drop duplicated
df_sample.shape

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(10944, 2)

In [15]:
df_sample.to_csv('tweets_clean.csv') #simpan ke csv, di load di kertas kerja lain